* {
  box-sizing: border-box;
  transition: .2s; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  background: #efefef;
  overflow-y: scroll; }

section {
  width: 100%;
  margin: 0 auto;
  padding: 25px; }

h1 {
  text-align: center;
  margin: 25px auto; }

input {
  display: block;
  width: 100%;
  margin: 25px auto;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid white; }
  input:hover, input:focus {
    outline: none;
    border-color: #333; }

#tip {
  width: 100%;
  margin: -25px auto 0;
  color: #b3b3b3;
  font-size: 12px; }

table {
  position: relative;
  width: 100%;
  margin: 25px auto;
  border-radius: 5px;
  border-collapse: collapse;
  background: #f9f9f9; }
  table tr {
    z-index: 1; }
    table tr td,
    table tr th {
      width: 80%;
      padding: 4px 10px;
      border-radius: 0 5px 0 0; }
      table tr td:first-child,
      table tr th:first-child {
        width: 20%;
        border-radius: 5px 0 0 0; }
    table tr th {
      text-align: left;
      padding: 10px;
      background: #333;
      color: #efefef; }
    table tr:nth-child(2n) {
      background: #f4f4f4; }
  table:after {
    content: "Aucun r\00e9sultat";
    position: absolute;
    top: 42px;
    padding: 4px 10px;
    width: 100%;
    z-index: -1;
    box-sizing: border-box;
    border-radius: 0 0 5px 5px;
    background: #f9f9f9; }

@media all and (min-width: 768px) {
  section {
    width: 600px; }

  input,
  #tip {
    width: 50%; } }
